* {
  box-sizing: border-box;
  font-family: Graphik, sans-serif;
}

.page {
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
@media screen and (max-width: 900px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 540px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

.employee-card {
  border: 2px solid black;
  padding: 20px;
}

.tags {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.tag {
  display: inline-block;
  background: rgba(0, 0, 255, 0.1);
  color: blue;
  border-radius: 100px;
  padding: 5px 10px 3px;
  margin-bottom: 5px;
  margin-right: 5px;
}

input[type=text] {
  padding: 10px;
  border: 2px solid black;
  font-size: 16px;
  margin-bottom: 20px;
}